.Router {
  display: grid;
  grid-template-columns: 2.5fr 10fr 2fr;
  grid-template-rows: 0.5fr 2.5fr;
  grid-template-areas: "blank-space1 nc-news-banner log-in" "navigation-bar content blank-space2";
}
.App {
  background-color: #000500;
  color: #acadbc;
}
body {
  background-color: #000500;
}
.nc-news-banner {
  grid-area: nc-news-banner;
}

.navigation-bar {
  grid-area: navigation-bar;
}

.log-in {
  grid-area: log-in;
}

.content {
  grid-area: content;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Generic CSS - END*/
